name: PyCaret AutoML Git Action
on: 
  push :
    branches: [ master ]  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: PyCaret autoML
        id: model
        uses: spowers42/automl-action@v1.0.3
        with:
          INPUT_DATASET: "juice"
          TARGET: "Purchase"
          USECASE: "classification"
      - name: Upload model.pkl
        uses: actions/upload-artifact@v2
        with: 
          name: model
          path: model.pkl
      - name: Upload exp_github_logs.csv
        uses: actions/upload-artifact@v2
        with: 
          name: experiment-logs
          path: exp_github_logs.csv
      - name: Upload logs.log
        uses: actions/upload-artifact@v2
        with: 
          name: system-logs
          path: logs.log
